In [48]:
# Import pandas, read and inspect the datasets
import pandas as pd

lego_sets = pd.read_csv('data/lego_sets.csv')
lego_sets.head()

  set_num                        name  ...    theme_name  parent_theme
0    00-1             Weetabix Castle  ...        Castle      Legoland
1  0011-2           Town Mini-Figures  ...  Supplemental          Town
2  0011-3  Castle 2 for 1 Bonus Offer  ...  Lion Knights        Castle
3  0012-1          Space Mini-Figures  ...  Supplemental         Space
4  0013-1          Space Mini-Figures  ...  Supplemental         Space

[5 rows x 6 columns]

In [49]:
parent_themes = pd.read_csv('data/parent_themes.csv')
parent_themes.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [50]:
lego_sets_clean = lego_sets.dropna(subset=['set_num','name','theme_name'])
lego_sets_clean.head()

  set_num                        name  ...    theme_name  parent_theme
0    00-1             Weetabix Castle  ...        Castle      Legoland
1  0011-2           Town Mini-Figures  ...  Supplemental          Town
2  0011-3  Castle 2 for 1 Bonus Offer  ...  Lion Knights        Castle
3  0012-1          Space Mini-Figures  ...  Supplemental         Space
4  0013-1          Space Mini-Figures  ...  Supplemental         Space

[5 rows x 6 columns]

In [59]:
licensed_themes = parent_themes[parent_themes['is_licensed']]['name']
licensed_themes.head()

7                    Star Wars
12                Harry Potter
16    Pirates of the Caribbean
17               Indiana Jones
18                        Cars
Name: name, dtype: object

In [52]:
licensed = lego_sets_clean['parent_theme'].isin(licensed_themes)
licensed_sets = lego_sets_clean[licensed]
licensed_sets.head()

    set_num  ...  parent_theme
44  10018-1  ...     Star Wars
45  10019-1  ...     Star Wars
54  10026-1  ...     Star Wars
57  10030-1  ...     Star Wars
95  10075-1  ...  Super Heroes

[5 rows x 6 columns]

In [53]:
all_sets = len(licensed_sets)
star_wars_sets = len(licensed_sets[licensed_sets['parent_theme']=='Star Wars'])
the_force = int((star_wars_sets/all_sets) * 100)
print(f'{the_force}% percentage of all licensed sets ever released were Star Wars themed.')

51% percentage of all licensed sets ever released were Star Wars themed.

In [54]:
licensed_pivot = licensed_sets.pivot_table(values='set_num', index='year',columns='parent_theme', aggfunc='count')
licensed_pivot.sort_values(by='Star Wars', ascending=False)['Star Wars']

year
2016    61.0
2015    58.0
2017    55.0
2014    45.0
2012    43.0
2009    39.0
2013    35.0
2003    32.0
2011    32.0
2010    30.0
2002    28.0
2005    28.0
2000    26.0
2008    23.0
2004    20.0
2007    16.0
2001    14.0
1999    13.0
2006    11.0
Name: Star Wars, dtype: float64

In [55]:
new_era = 2016
print(f'In year {new_era} was the highest numbers of Star Wars sets released.')

In year 2016 was the highest numbers of Star Wars sets released.